@import url("https://fonts.googleapis.com/css?family=VT323");

* {
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  font-family: 'VT323';
  text-transform: uppercase;
  transition: background 0.25s ease;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}

button {
  font-family: 'VT323';
  text-transform: uppercase;
}