@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  font-family: 'Nunito';
  margin: 0;
  padding: 0;
  transition: background 0.25s ease;
  overflow-x: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}

button {
  font-family: 'Nunito';
  font-weight: bold;
}